@model Bo.Thema

@{
    ViewBag.Title = "Supprimer un thème";
}

<h2>@ViewBag.Title</h2>

<h3>Êtes-vous sûr de vouloir supprimer le thème @Html.DisplayFor(model => model.Title) ?</h3>
<div>
    <hr />
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Supprimer" class="btn btn-default" /> |
            @Html.RouteLink("Annuler", "AdminThemaList")
        </div>
    }
</div>
