html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 100%;
}

.fixed {
    position: fixed;
    z-index: 1;
}

.full {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.fixed.home {
    top: 64px;
}

#eventSearch {
    width: 70%;
    left: 15%;
    bottom: 50px;
    background-color: rgb(169, 209, 39);
    padding: 25px 30px;
    border-radius: 5px;
}

#eventSearch .row {
    margin-bottom: 0;
}

nav {
    z-index: 9999;
}

.select-wrapper {
    background-color: rgb(255,255,255);
}

.select-wrapper input.select-dropdown {
    padding-left: 10px;
    padding-right: 5px;
    border-bottom-width: 0;
}

