@model EniEvents.Models.IndexVM
@using Bo

<div class="fixed full home">
    <div id="eventMap" class="full"></div>
    <div id="eventSearch" class="fixed orange darken-4">
        @using (Html.BeginForm())
        {
            <div class="row search--title">
                <div class="col l12 white-text">
                     Trouvez votre événement sur Rennes !
                </div>
            </div>
            <div class="row">
                <div class="col l6 input-field">
                    @Html.EnumDropDownListFor(model => model.Periods, null, null)
                </div>
                <div class="col l6 input-field">
                    @Html.DropDownListFor(model => model.fooSelectedId, Model.Themas.Select(t => new SelectListItem
                   {
                       Text = $"{t.Title}",
                       Value = t.Id.ToString()
                   }), "-- Filtrer par thème --")
                </div>
            </div>
            <div class="row search--result">
                <div class="col l12 white-text">
                    <span></span> événement(s) trouvé(s)
                </div>
            </div>
        }
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="popIn">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/gmap"));